{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>This is TechBiz About page.</h1>

    This friendly message is coming from: shamiulalamupom
</div>
{% endblock %}
