{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<div>
    <h1>Categories</h1>
    <ul>
        {% for catagory in catagories %}
            <li>
                <a href="{{ path('app_category_show', {id: catagory.id}) }}">
                    {{ catagory.titre }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
